body {
	background-color: black;

}

#container {
	background-image: url("../img/background.png");
	height: 600px;
	width: 800px;    
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.rectangle {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 360px;
	height: 480px;
	background-color: rgb(243, 244, 248);
	border-radius: 30px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.rectangle__background img {
	position: relative;
	top: -5px;
	max-height:	412px;
	height: auto;
}

.rectangle__background--Top {
	background-color: rgb(42, 34, 77);
	opacity: 0.6;
	position: absolute;
	width: 360px;
	height: 65px;
	display: flex;
	justify-content: center;
  }
  /* .fading {
	border-radius: 30px;
	background-color: rgb(84, 66, 130);
	opacity: 0.259;
	position: absolute;
	left: 25px;
	top: 60px;
	width: 360px;
	height: 480px;
	z-index: 7;
  } */
  
	/* .Top__options {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 800px;
		height: 600px;
		z-index: 53;
	}
	.refresh_1 {
		background-color: rgb(255, 255, 255);
		position: absolute;
		left: 236px;
		top: 84px;
		width: 17px;
		height: 17px;
		z-index: 52;
	}
	.refresh_4 {
		background-color: rgb(255, 255, 255);
		position: absolute;
		left: 157px;
		top: 85px;
		width: 17px;
		height: 16px;
		z-index: 51;
	}
	.shuffle {
		background-color: rgb(255, 255, 255);
		position: absolute;
		left: 198px;
		top: 85px;
		width: 17px;
		height: 16px;
		z-index: 50;
	}
	.menu {
		background-color: rgb(255, 255, 255);
		opacity: 0.302;
		position: absolute;
		left: 348px;
		top: 86px;
		width: 17px;
		height: 14px;
		z-index: 49;
	} */
	



  